/**
 * Ad Ruigrok van der Werve
 * 11323760
 * Bubblechart CSS file
 */
svg {
    font: 16px"Avenir";
}

div.d3-tip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 80px;
    padding: 2px;
    font: 12px sans-serif;
    background: transparent;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}