svg {
    font: 16px"Avenir";

}

div.tooltip {
    position: absolute;
    top: 10 px;
    left: 1000 px;
    text-align: center;
    width: 60px;
    height: 45px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}