/**
 * Ad Ruigrok van der Werve
 * 11323760
 * Linechart CSS file
 */
.lineBlue{
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
.lineRed{
    fill: none;
    stroke: red;
    stroke-width: 2px;
}

.axisSteelBlue text {
    fill: steelblue;
    font-size: 10px;
}

.axisSteelBlue line{
    stroke: steelblue;
}

.axisSteelBlue  path{
    stroke: steelblue;
}

.axisRed text {
    fill: red;
    font-size: 10px;
}

.axisRed line{
    stroke: red;
}

.axisRed path{
    stroke: red;
}



